# Файл с переменными окружения
.env

# Папка с виртуальным окружением
venv/
/venv

# Файлы базы данных
database.db
*.db

# Кэш Python
__pycache__/
*.pyc

# Служебные файлы IDE (например, для VS Code)
.vscode/

create_superuser.py